@using GamerMarketApp.Web.ViewModels.Admin.User;
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@model IEnumerable<UsersViewModel>

@inject RoleManager<IdentityRole<string>> roleManager;

@{
    var availableRoles = await this.roleManager
               .Roles
               .Select(r => r.Name)
               .ToListAsync();
    ViewBag.Title = "User Management";
    int counter = 0;
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">AssignRole</th>
            <th scope="col">RemoveRole</th>
            <th scope="col">Account Control</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            counter++;
            <tr>
                <th scope="row">@counter</th>
                <td>@user.Email</td>
                <td>
                    @foreach (var role in user.Roles)
                    {
                        <span class="badge bg-secondary">@role</span>
                    }
                </td>
                <td>
                    <form asp-action="AssignRole" method="post" asp-controller="UserManagement" asp-area="Admin" class="d-inline">
                        <input type="hidden" name="userId" value="@user.Id" />
                        <select name="role" class="form-select d-inline w-50">
                            @foreach (var role in availableRoles)
                            {
                                <option value="@role">@role</option>
                            }
                        </select>
                        <button type="submit" class="btn btn-info btn-sm">Assign Role</button>
                    </form>
                </td>
                <td>
                    <form method="post" asp-action="RemoveRole" asp-controller="UserManagement" asp-area="Admin"  class="d-inline text- ms-2">
                        <input type="hidden" name="userId" value="@user.Id" />
                        <select name="role" class="form-select d-inline w-50">
                            @foreach (var role in user.Roles)
                            {
                                <option value="@role">@role</option>
                            }
                        </select>
                        <button type="submit" class="btn btn-secondary btn-sm">Remove Role</button>
                    </form>
                <td>
                    <form method="post" asp-action="DisableUser" asp-controller="UserManagement" asp-area="Admin" class="d-inline align-self-end ms-2">
                        <input type="hidden" name="userId" value="@user.Id" />
                        <button type="submit" class="btn btn-danger btn-sm">Disable</button>
                    </form>
                    <form method="post" asp-action="EnableUser" asp-controller="UserManagement" asp-area="Admin" class="d-inline align-self-end ms-2">
                        <input type="hidden" name="userId" value="@user.Id" />
                        <button type="submit" class="btn btn-info btn-sm">Enable</button>
                    </form>
                    <form method="post" asp-action="DeleteUser" asp-controller="UserManagement" asp-area="Admin" class="d-inline align-self-end ms-2">
                        <input type="hidden" name="userId" value="@user.Id" />
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
                </td>
            </tr>
        }
    </tbody>
</table>

