@using GamerMarketApp.Web.ViewModels.Item;
@model ItemEditViewModel

@{
    ViewData["Title"] = "Edit Item";
}

<h2 class="text-center">@ViewBag.Title</h2>

<hr />
<div class="row justify-content-center">
    <div class="col-xl-6">
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="ItemId" />
            <input type="hidden" asp-for="PublisherId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" aria-required="true" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label">Image Url:</label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.SubtypeId" class="form-label-add-edit">Select Type</label>
                <select asp-for="@Model.SubtypeId" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.ItemSubtypes, "SubtypeId", "Name"))">
                    <option value="">Select Type...</option>
                </select>
                <span asp-validation-for="@Model.SubtypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.GameId" class="form-label-add-edit">Select Game</label>
                <select asp-for="@Model.GameId" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.Games, "GameId", "Title"))">
                    <option value="">Select Game...</option>
                </select>
                <span asp-validation-for="@Model.GameId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddedOn" class="control-label">Date</label>
                <input asp-for="@Model.AddedOn" class="form-control" aria-required="true" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                <span asp-validation-for="AddedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <input type="submit" value="Save" class="btn w-100 btn-primary" />
                </div>
                <div class="col-6">
                    <a class="btn btn-secondary w-100" asp-action="Index">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

