@using GamerMarketApp.Web.ViewModels.Game;
@model GameDeleteViewModel
@{
    ViewBag.Title = "Delete Game";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="card container col-4">
    <form asp-action="SoftDelete" method="post">
        <input type="hidden" asp-for="Id" />
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <img src="@Model.ImageUrl" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;">
        }
        else
        {
            <img src="~/img/NoImage.jpg" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;" alt="Placeholder Image">
        }
        <div class="card-body text-center d-flex flex-column">
            <div class="row">
                <div class="col">
                    <div class="title-wrapper" style="height: 6em; overflow: hidden;">
                        <h3 class="card-title mt-1">@Model.Title</h3>
                    </div>
                </div>
            </div>
            <hr />
            <h5 class="card-title mt-1">@Model.Genre</h5>
            <p class="card-text">@Model.Description</p>
            <div class="row mt-auto">
                <div class="col-6 px-1">
                    <button asp-controller="Game" asp-action="SoftDelete" asp-route-id="@Model.Id" type="submit" class="btn btn-secondary w-100 mb-2">SoftDelete</button>
                </div>
                <div class="col-6 px-1">
                    <a asp-controller="Game" asp-action="DeleteConfirmed" asp-route-id="@Model.Id" class="btn btn-danger w-100 mb-2">HardDelete</a>
                </div>
            </div>
        </div>
    </form>
</div>
