@using static GamerMarketApp.Commons.ApplicationConstants;
@using GamerMarketApp.Web.ViewModels.Item;
@model IEnumerable<ItemPreviewViewModel>

@{
    ViewBag.Title = "Watchlist";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="row">
    @foreach (var e in Model)
    {
        <div class="card-group d-flex flex-column" style="width: 20.6rem">
            <img src="@e.ImageUrl" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;">
            <div class="card-body d-flex flex-column">
                <div class="card-body d-flex flex-column mt-auto" style="height: 9em;">
                    <h4 class="card-title text-success">@e.Name</h4>
                    <p class="text-light">@e.Game</p>
                    <h5 class="text-light">€ @e.Price</h5>
                </div>
                <form method="post">
                <div class="card-text mt-auto">
                    <div class="row mt-auto">
                        <div class="col-12 px-1">
                            <a asp-controller="Item" asp-action="Details" asp-route-id="@e.ItemId" class="btn btn-outline-info w-100 mb-2">Details</a>
                        </div>
                        @if (User?.Identity?.IsAuthenticated ?? false)
                        {
                            <div class="col-6 px-1">
                                <button asp-controller="" asp-action="AddToCart" asp-route-id="@e.ItemId" class="btn btn-secondary w-100 mb-2">Add to Cart</button>
                            </div>
                            <div class="col-6 px-1">
                                <button asp-controller="Watchlist" asp-action="RemoveFromMyWatchlist" asp-route-id="@e.ItemId" type="submit" class="btn btn-primary w-100 mb-2">Remove</button>
                            </div>
                        }
                    </div>
                </div>
                </form>
            </div>
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}